.cart--container {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 50%;
  }
  
  .cart--table {
    width: 55%;
    max-width: 1000px;
    margin: 50px 0;
    background-color: white;
  }
  
  thead tr {
    background-color: blanchedalmond;
  }
  
  tr {
    text-align: center;
    font-size: 1.25em;
    line-height: 2em;
  }
  
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  
  tfoot th {
    border-top: 1px dashed rgb(0, 0, 0);
    background-color: none;
  }
  
  .order--button {
    align-self: flex-end;
    margin-right: 20%;
    font-size: 1em;
  }