
.product {
    display: flex;
    width: 200px;
    padding: 10px;
    border: solid 1px;
    text-align: center;
    border-radius: 5px;
}


.product-name {
    color: black

}



.product-image {
    width: 10px;

}


.product-description   {
    color: white;
}


.product-catagory {
    color: yellowgreen;
    font-weight: bold;
}



.product-price {
    color: rgb(241, 241, 184);
    
}